* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 30vw;
	background-image: url('../images/runner.jpg');
	background-size: cover;
}

header p {
	position: absolute;
	top: 100px;
	left: 10vw;
	font-family: verdana;
	font-style: italic;
	font-size: 4vw;
	font-weight: bold;
	color: rgb(19, 19, 83);
	opacity: .7;
}